/*
   ImageMagick template.
*/

html {
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.container {
  max-width: 60rem;
}

.magick-template {
  padding: 1.5rem 1.5rem;
}

.magick-description {
  font-size: 1.1rem;
  color: #999;
}

.magick-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}

.magick-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.magick-footer p:last-child {
  margin-bottom: 0;
}

.magick-icon {
  float: left;
  margin: 5px;
}

a.anchor {
  position: relative;
  top: -3.5rem;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
