body{
    padding-top: 100px;
}
.content{
    height: 80vh;    
    outline-offset: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content h1{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes fadeIn{
    0%{
        padding-top: 400px;
        color: transparent;
    }
    100%{
        padding-top: 0;
        color: white;
    }
}